<% 
if(user_signed_in?) %>
  <%
  if(comment.approved == 1 || comment.article.user_id == current_user.id || comment.user_id == current_user.id) %>
    <%
    if(comment.approved == 0 && comment.user_id == current_user.id) %>
      <div class="alert alert-success">
        <p>This comment wasn't approved yet by article owner...</p>
      </div>
    <% end %>

    <p>
      <strong>
      <% if(comment.user_id != current_user.id) %>
      <%= comment.commenter %></strong> (<%= User.find(comment.user_id).email %>)
      <% else %>
      You</strong>
      <% end %>
    </p>
 
    <p>
      <%= raw comment.body %>
    </p>

    <p>
      <%
      if(user_signed_in?)
        if(comment.approved == 0 && comment.article.user_id == current_user.id) %>
        <%= link_to 'Approve', [comment.article, comment], method: :patch, :class => 'btn btn-primary' %>
        <%
        end
      end %>
      <%
      if(user_signed_in?)
        if(comment.approved == 0 && comment.article.user_id == current_user.id) %>
          <%=
            link_to 'Reject', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'
          %><br>
        <%
        elsif(comment.user_id == current_user.id) %>
          <%=
            link_to 'Delete Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'
          %><br>
        <%
        end
      end %>
    </p><hr>

  <%
  end
elsif(comment.approved == 1) %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p><hr>
<%
end %>