
<% if (@article.comments.where("approved = 0").length > 0 && @article.user_id == current_user.id) %>
<div class="alert alert-info">
<p><strong>Heads up!</strong> You've got a new comment.</p>
</div>
<% end %>

<h2><%= @article.title %></h2>
 
<p>
	<i>Created by : <%= User.find(@article.user_id).email %></i>
</p>

<%= image_tag @article.thumbnail.url(:small) %>

<p>
	<%= @article.text %>
</p>

<hr>

<h2>Comments</h2>
<% if(!@article.comments.blank?) %>
<%= render @article.comments %>
<% else %>
<p>No comment yet</p>
<% end %>
<% if(!user_signed_in?) %>
<br><p>Please <%= link_to 'sign in', articles_path %> or <%= link_to 'sign up', articles_path %> to leave a comment</p>
<% end %>
<br><hr>
<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Back', articles_path %> | <%= link_to 'Edit', edit_article_path(@article) %>