
<% if (@article.comments.where("approved = 0").length > 0 && @article.user_id == current_user.id) %>
<div class="alert alert-info">
<p><strong>Heads up!</strong> You've got a new comment.</p>
</div>
<% end %>

<h2><%= @article.title %></h2>
 
<p>
	<i>Created by : <%= User.find(@article.user_id).email %></i>
</p>

<p>
	<%= @article.text %>
</p>

<hr>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Back', articles_path %> | <%= link_to 'Edit', edit_article_path(@article) %>